@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-1-down {
  @media (max-width: 800px) { @content; }
}
@mixin for-tablet-landscape-1-up {
  @media (min-width: 800px) { @content; }
}
@mixin for-tablet-landscape-2-down {
  @media (max-width: 1000px) { @content; }
}
@mixin for-tablet-landscape-2-up {
  @media (min-width: 1000px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1200px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1500px) { @content; }
}


.profit {
  max-width: 1500px;
  margin: 0 auto;
  h2 {
    color: #FF6017;
    width: 100%;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 108%;
    letter-spacing: 0.065em;
    margin-bottom: 50px;
  }
  padding: 60px 40px 40px;

  @include for-phone-only {
    padding-top: 0;
  }

  @include for-tablet-landscape-1-up {
    width: 90%;
    margin: 0 auto;
  }

  @include for-desktop-up {
    padding: 80px 90px 40px;
    width: 75%;
  }
  @include for-big-desktop-up {
    width: 65%;
    padding: 80px 120px 40px;
  }

  h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.065em;
    font-size: 24px;

    @include for-tablet-landscape-1-up {
      font-size: 28px;
      margin: 0 0 40px 165px;
    }

    @include for-tablet-landscape-2-up {
      font-size: 32px;
    }
  }
}

.profit_point {
  display: flex;
  align-items: center;
  margin: 40px auto 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  line-height: 121.9%;
  letter-spacing: 0.065em;

  font-size: 16px;

  @include for-tablet-landscape-1-up {
    font-size: 20px;
  }

  @include for-desktop-up {
    font-size: 22px;
  }


  @include for-tablet-landscape-2-down {
    width: 100%;
    margin: 20px 20px 0;
  }

  @include for-tablet-landscape-1-down {
    flex-direction: column;
    margin: 0 0 40px 0;
  }

  &:nth-child(2n) {
    .line {
      width: 15%;
    }
  }
}

.profit_icon {
  img {
    width: 130px;
    height: 130px;

    @include for-tablet-landscape-2-down {
      width: 110px;
      height: 110px;
    }

    @include for-tablet-landscape-1-down {
      width: 90px;
      height: 90px;
    }

    @include for-tablet-landscape-1-up {
      margin-right: 55px;
      margin-left: -20px;
    }
  }
}

.line {
  width: 20%;
  background-color: #FF6017;
  height: 8px;
  border-radius: 10px 0px;
  margin-bottom: 12px;
}
